.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    color: #333;
    background-image: url("https://i.pinimg.com/originals/f5/5b/0f/f55b0f3e0d9b878ed9192b8358fd1480.gif");
    background-size:cover;
    background-position: bottom;
    background-repeat: no-repeat;
    
  }
  
  .botton-page {
    background-color: #f0f0f0;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .botton-page:hover {
    background-color: #ddd;
  }
  
  .page{
    color: white;
  }
  