.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: rgba(93, 93, 151, 0.747);
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0 0 12px #d7d7d7;
  padding: 1rem; /* Aumentamos el espacio interior */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-size: small; /* Cambiamos a "small" para mejorar la legibilidad */
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px; /* Agregamos margen inferior a la imagen */
}

.CardLink {
  text-decoration: none;
  color: inherit;
}

.Card button {
  position:relative;
  align-self: flex-end ;/* Coloca el botón al final (esquina inferior derecha) */
  background-color:transparent;
  color: white;
  border: none;
  padding: 0;
  cursor: pointer;
}

