
.Card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
 
     width: 300px;
     height: 400px;
     background-color: rgba(93, 93, 151, 0.747);
     border-radius: 8px;
     margin: 10px;
     box-shadow: 0 0 12px #d7d7d7;
     padding: 0.1rem;
     font-family: Verdana, Geneva, Tahoma, sans-serifs;
     font-size:x-small;
 }
 img{
     
  display: block;
   max-width: 100%;
   height: auto;
 }

 .CardLink {
  text-decoration: none;
  color: inherit;
}
